#cuerpoFondo
{
	height: 1000px;
	width: 100%;
	background: rgb(53,106,160); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,106,160,1)), color-stop(100%,rgba(53,106,160,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */

	position: relative;
	top: 25;
}
h2
{
	font-size: 50px;
	color: rgb(243, 171, 39);
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	margin-left: 39%;
}
#textoBien
{
	color: white;
    font-size: 25px;
position: relative;
top:-50px;
    text-align: center;
}
#VideoPresentacion
{
	display: inline-block;
	text-align: center;
}
#banner1
{
	position: relative;
	top: 500px;
text-align: center;
}
#ideoRepro
{
	
}


