body
{
   background: rgb(249, 249, 249);
}
.imagnosotros
{
 max-width: 100%;
 width: 100%;
}
.videosss
{
float: left;
}
.Vposi
{
float: left;
}
.contenerdoM
{
	overflow: hidden;
}


.vineta 
{
  padding-top: 1em;
  width: 100%;
  margin: 0 auto;
}
.vineImg
{
  max-width: 100%;
  padding-top: 1em;
  width: 100%;
  margin: 0 auto;
}
.videoContainer
{
  position: relative;
  padding-bottom: 69.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  float: none;
}
.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1em;
  float: none;
}
.cajaindividual
{
  width: 95%;
  background: rgba(234, 215, 24, 0.7);
  padding: 15px;
  text-align: justify;
  font-size: 18pt;
  margin-top: 0.2em;
  font-family: 'Lato', sans-serif;
}
.Mision
{
  text-align: center;
}
.visionMision 
{
  margin: 0 auto;
  width: 100%;
}
.btnNoso
{
	max-width: 100%;
}
.botonizo1
{

}
@media(min-width:600px){
.videoContainer 
{
  position: relative;
  padding-bottom: 24em;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 513px;
  margin: 0 auto;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  height: 392px;
  padding-top: 1em;
  float: none;
}
.vineta
{
  padding-top: 1em;
  width: 570px;
  margin: 0 auto;
}
.vineImg
{
  max-width: 100%;
}
.visionMision 
{
  margin: 0 auto;
  width: 363px;
}
.cajaindividual
{
  width: 14em;
  background:rgba(234, 215, 24, 0.7);
  padding: 15px;
  text-align: justify;
  font-size: 18pt;
  margin-top: 0.2em;
  font-family: 'Lato', sans-serif;
}
}
@media(min-width:750px){
.visionMision {
  margin: 0 auto;
  width: 758px;
  display: block;
  float: none;
  text-align: center;
  padding-left: 4%;
}
.cajaindividual {
  width: 12em;
  background: rgba(234, 215, 24, 0.7);
  padding: 15px;
  text-align: justify;
  font-size: 18pt;
  margin-top: 0.2em;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  float: left;
  margin: 1em;
}

}

@media(min-width: 950px){
.visionMision {
  margin: 0 auto;
  width: 903px;
  display: block;
  float: none;
  text-align: center;
  padding-left: 4%;
}
.cajaindividual {
  width: 15em;
  background: rgba(234, 215, 24, 0.7);
  padding: 15px;
  text-align: justify;
  font-size: 18pt;
  margin-top: 0.2em;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  float: left;
  margin: 1em;
}
}
@media(min-width:1155px){
.ContenedorVideoVineta
{
  margin: 0 auto;
  width: 1092px;
  padding: 2em;
  /* padding-left: 0em; */
  /* padding-bottom: 0em; */
  margin-bottom: 9em;
}
.videoContainer {
  position: relative;
  padding-bottom: 24em;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 513px;
  /* margin: 0 auto; */
  float: left;
}
..videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 520px;
  height: 392px;
  padding-top: 1em;
  float: none;
}
.vineta {
  padding-top: 1em;
  width: 570px;
  margin: 0 auto;
  float: left;
  padding-left: 0.5em;
}
.vineImg {
  max-width: 100%;
}
.visionMision {
  margin: 0 auto;
  width: 941px;
  /* display: block; */
  float: left;
  /* text-align: center; */
  padding-left: 15%;
}
.botonessslider
{
	float: left;
}
}

@media(min-width:1200px){
.visionMision {
  margin: 0 auto;
  width: 941px;
  /* display: block; */
  float: left;
  /* text-align: center; */
  padding-left: 18%;
}
}
@media(min-width:600px){
.botonessslider
{
  width: 376px;
  margin: 0 auto;
}
.btnNoso {
  max-width: 100%;
}
}
@media(min-width:750px){
.botonessslider {
  width: 44%;
  margin: 0 auto;
  /* float: left; */
  display: -webkit-inline-box;
  /* text-align: center; */
  padding-left: 6%;
}
.botonizo1 {
  width: 330px;
  margin: 9px auto;
}

}
@media(min-width:1159px){
.botonessslider {
  width: 35%;
  margin: 0 auto;
  /* float: left; */
  display: -webkit-inline-box;
  /* text-align: center; */
  padding-left: 19%;
}
.botonizo1 {
  width: 330px;
  margin: 9px auto;
}

}

@media(min-width:1350px){
.botonessslider {
  width: 31%;
  margin: 0 auto;
  /* float: left; */
  display: -webkit-inline-box;
  /* text-align: center; */
  padding-left: 20%;
}
.botonizo1 {
  width: 330px;
  margin: 9px auto;
}

}
.botonizo1 img:hover
{
 box-shadow: rgba(255, 159, 12, 1) -1px 0px 40px;
}