#lineadePie
{
	width: 100%;
	height: 30px;
	background-color: rgb(175, 170, 162);
}
#PiePagina
{
	width: 100%;
	height: 200px;
	background-color: gray;
}
#CopyRight
{
	color: white;
	text-align: center;
	margin: 0px;
	position: relative;
top: -145px;
}
#Mipag
{
	color:rgb(36, 36, 131);
}
#redesSociales
{
	margin-left: 70%;
	position: relative;
	color: white;
	top: -150px;;
	text-align: -webkit-left;
	font-size: 12px;
}
#UBICANOS
{
	margin-left: 5%;
position: relative;
color: white;
text-align: -webkit-left;
font-size: 12px
}
#Referencias
{	
color: white;
position: relative;
top: -30px;
}
body
{
	width: 100%;
	height: 200px;
	background-color: #74d4b3;
}