@font-face {
	font-family: 'icomoon';
	src:url('fuentes/icomoon.eot?-93x3ch');
	src:url('fuentes/icomoon.eot?#iefix-93x3ch') format('embedded-opentype'),
		url('fuentes/icomoon.woff?-93x3ch') format('woff'),
		url('fuentes/icomoon.ttf?-93x3ch') format('truetype'),
		url('fuentes/icomoon.svg?-93x3ch#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home{
  font-size: 27pt;
}
.icon-home:before {
	content: "\e600";
	font-size: 27pt;
}
.icon-phone:before {
	content: "\e601";
	font-size: 27pt;
}
.icon-bubbles4:before {
    content: "\e970";
	font-size: 27pt;
}
.icon-envelope-o:before {
    content: "\e609";
	font-size: 27pt;
}
.icon-menu:before {
    content: "\e9bd";
}