RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.alianzaica\.com [NC]
RewriteRule ^(.*)$ http://alianzaica.com/$1 [L,R=301]

ErrorDocument 404 http://alianzaica.com/404