body{
margin:0px;
height:100%;
background: rgba(224, 224, 224, 0.73)
}
.anuncios
{
display: inline-block;
}
#final1 {
  background-color: black;
  margin-top: 100%;
}
#bien222 
{
	position: relative;
	top: 38px;
	margin-left: 3%;
}
.image333
{
	width: 100%;	
	max-width: 100%;
}

.serv1 img
{

  max-width: 100%;
  padding-left: 0.3em;
}
.serv1
{
  box-sizing: border-box;
  padding: 0px;
  width: 33%;
  float: left;
}

.serv2 img
{

	max-width: 100%;

}
.serv2
{
  box-sizing: border-box;
  padding: 0px;
  width: 67%;
  float: left;
}

.serv3 img
{

	max-width: 100%;
}
.serv3
{
  box-sizing: border-box;
  padding: 0px;
  width: 50%;
  float: left;
}

.serv4 img
{

	max-width: 100%;
}
.serv4
{
  box-sizing: border-box;
  padding: 0px;
  width: 50%;
  float: left;
}

.serv5 img
{

	max-width: 100%;
}

.serv5
{
  box-sizing: border-box;
  padding: 0px;
  width: 50%;
  float: left;
}
.serv6 img
{

	max-width: 100%;
}
.serv6
{
  box-sizing: border-box;
  padding: 0px;
  width: 50%;
  float: left;
}

/*Responsive design*/

@media (max-width:720px){

.serv1 img
{
  max-width: 100%;
  padding-left: 0em;
}
.serv1
{
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  float: left;
}

.serv2 img
{
	max-width: 100%;
}
.serv2
{
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  float: left;
}

.serv3 img
{
	max-width: 100%;
}
.serv3
{
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  float: left;
}

.serv4 img
{
	max-width: 100%;
}
.serv4
{
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  float: left;
}

.serv5 img
{
	max-width: 100%;
}

.serv5
{
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  float: left;
}
.serv6 img
{
	max-width: 100%;
}
.serv6
{
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  float: left;
}
/*@media(max-width: 1300px){
#bienvenidoSERVICIO {
  width: 100%;
  height: 2220px;
  background: rgba(224, 224, 224, 0.73);
}
}
}
@media(max-width: 720px){
#bienvenidoSERVICIO {
  width: 100%;
  height: 3774px;
  background: rgba(224, 224, 224, 0.73);
}
}
@media(max-width: 450px){
  #bienvenidoSERVICIO {
  width: 100%;
  height: 2516px;
  background: rgba(224, 224, 224, 0.73);
}
}*/





