.Back-Style
{

}
.NstyuleA
{
  color: rgb(5, 224, 208); 
  font-size: 3.1em;
}
.centradito 
{
  font-family: 'Oswald', sans-serif;
  padding-top: .2em;
  text-align: center;
  width: 100%;
}
.NstyleB
{
  color: rgb(94, 94, 94);
  font-size: 2.1em;
}
.boletin {
  position: relative;
  padding-bottom: 69.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  float: none;
}

.boletin  iframe,
.boletin  object,
.boletin  embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1em;
  float: none;
}