#detrasdeslider{
	width: 100%;
	height: 430px;
	background-color: #00FFA7;
  text-align: center;
}
@media(min-width:923px){
#SliderPrincipal {
  width: 900px;
  display: inline-block;
  position: relative;
  top:30px;
}
#detrasdeslider{
  width: 100%;
  height: 457px;
  background-color: #00FFA7;
}
}
@media(max-width:922px){
#SliderPrincipal {
  position: relative;
  top: 30px;
}
}